<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
    <title>Remote Container Gallery</title>
  </head>
  <style>
    .is-clickable {
      cursor: pointer;
    }
    #search {
      margin-top: 10px;
    }
  </style>
  <body>
    <div id="app">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-narrow">
            <h1 class="is-size-1">Container Gallery</h1>
          </div>
          <div class="column">
            <div class="control">
              <input
                id="search"
                class="input"
                v-model="filter"
                type="text"
                placeholder="Search gallery"
              />
            </div>
          </div>
        </div>
        <div class="columns section is-multiline">
          <div
            v-if="loading"
            class="column is-half is-offset-one-quarter has-text-centered"
          >
            <progress class="progress is-small is-primary" max="100">
              15%
            </progress>
            <h1 class="is-size-4">Loading templates...</h1>
          </div>
          <div
            class="column is-3 is-clickable"
            v-for="template in filteredTemplates"
            :key="template.name"
            @click="downloadTemplate(template.name)"
          >
            <div class="box">
              <div class="content">{{ template.title }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.20.0/dist/axios.min.js"></script>
    <script>
      (function () {
        const app = new Vue({
          el: "#app",
          data: {
            filter: "",
            templates: [],
            loading: true,
          },
          mounted: function () {
            axios.get("api/containers").then((results) => {
              this.templates = results.data;
              this.loading = false;
            });
          },
          computed: {
            filteredTemplates() {
              return this.templates.filter((item) => {
                return (
                  item.title.toLowerCase().indexOf(this.filter.toLowerCase()) >
                  -1
                );
              });
            },
          },
          methods: {
            downloadTemplate(template) {
              window.open(`/api/download?template=${template}`);
            },
          },
        });
      })();
    </script>
  </body>
</html>
